{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示</title>
    <style>
        body{
            background_repeat:no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body background="{% static 'images/timg3.jpg' %}">
    <div class="text" style=" text-align:center;">
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
            {% if request.session.user %}
                <h1 style="color:lightgoldenrodyellow; font-size: 40px"> 你好 {{ request.session.user.username }} </h1>
                <h1 style="color:lightgoldenrodyellow; font-size: 40px"> 数据读取完毕 </h1>
                <h2>
                    <a href="showall" target="_blank" style="color: wheat">显示全部数据</a>
                    <br>
                    <a href="photo" target="_blank" style="color: wheat">处理数据</a>
                    <br>
                    <a href="showphoto" target="_blank" style="color: wheat">图形化显示</a>
                    <br>
                    <a href="shaixuan" target="_blank" style="color: wheat">筛选数据</a>
                    <br>
                    <a href="uesrLogout" style="color: wheat">退出</a>
                </h2>
            {% else %}
                <h1>失败</h1>
            {% endif %}
    </div>
</body>
</html>